<div class="card my-1 mx-1 rounded-4" style="width: 18rem;">
  <img src="https://i.pinimg.com/564x/f2/52/fa/f252fa96c51dd1cb0ac71f85858632db.jpg" class="card-img-top rounded-4" alt="arbol">
  <div class="card-body">
    <h5 class="card-title"><%= link_to goal.name, goal_path(goal), class: "text-decoration-none"%></h5>
    <p class="card-text"><%= goal.category %></p>
    <div class="d-flex align-items-center">
      <div class="progress w-75">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p class="m-0 ms-3 text-center">25%</p>
    </div>
  </div>
</div>
