// Asignar barra desplazamiento lateral a vista de board goal
.bar-goal {
  scrollbar-width: none;
  background-color: transparent;
  height: 310px;
  overflow-y: scroll;
  align-content: flex-start;
  }
  ::-webkit-scrollbar {
    display: none;
  }
.name-goal {
  display: flex;
  align-items: flex-end;
}

.scroll-col{
  overflow-y: scroll;
}

.static-row{
  height: 100vh;
}
