// Dark mode
$deep-cove: #1F1D2C;
$deep-koamaru: #262638;
$white-smoke: whitesmoke;
$middle-blue: #7ed6df;
$june-bud: #badc58;
$spiced-nectarine: #ffbe76;
$beekeeper: #f6e58d;
$pink-glamour: #ff7979;
$exodus-fruit: #686de0;
$coastal-breeze: #dff9fb;

// Light mode
$white: #fdfdfd;
$smoke: #1e1d1f;
$turbo: #f9ca24;
$greenland-green: #22a6b3;
$quince-jelly: #f0932b;
$camine-pink: #eb4d4b;
$blurple: #4834d4;
$pure-apple: #6ab04c;
$hint-of-ice-pack: #c7ecee;

// Old colors
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
