canvas {
  border-radius: 15px !important;
  max-width: 100%;
  object-fit: cover; /*cover*/
  visibility: visible !important;
}
.fs-07 {
  font-size: 0.7rem;
}
.fs-08 {
  font-size: 0.8rem;
}
.fs-09 {
  font-size: 0.9rem;
}
.link-muted {
  color: #6C757D;

  &:hover {
    color: rgb(94, 102, 108);
  }
}
.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.bg-cover {
  background-size: cover;
  background-position: center;
}
.bg-cover-top {
  background-size: cover;
  background-position: bottom;
  padding: 150px 0;
}
.fancy-box {
  border-radius: 56% 44% 70% 30% / 30% 65% 35% 70% ;
}
.bg-body {
  background-color: $body-color;
}

.bg-sweet{
  background-color: #dff9fb;
}

.text-body {
  color: white;
}
.text-white-smoke{
  color: whitesmoke;
}
.clip-rich-text {
  height: 1.7rem;
  width: 3.2rem;
  transform: rotate(15deg);
  top: -15px;
  right: 40px;
}
.flickity-prev-next-button {
  width: 1.25rem !important;
  height: 1.25rem !important;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: $text-color !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: $text-color !important;
  border: 1px solid transparent !important;
  border-radius: 6px !important;
  background: rgb(0,0,54) !important;
  background: radial-gradient(circle, rgba($body-color,1) 39%, rgba($body-color,1) 100%) !important;
}
.dataTables_filter input {
  border-radius: 15px !important;
  padding: 1px 15px !important;
  background-color: $white-smoke !important;
  color: $body-color !important;
}
.dataTables_wrapper .dataTables_length select {
  color: $text-color !important;
  border: 1px solid transparent !important;
  border-radius: 6px !important;
  background-color: $body-color!important;
}
table.dataTable.display>tbody>tr.odd>.sorting_1, table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1 {
  box-shadow: 0 !important;
}
.color-bottom-cancel{
  background-color: #889097 !important;
}
.color-bg-sweet{
  background: #dff9fb !important;
}
.notscale{
  transform: scale(1) !important;
}
.card{
  transition: transform 0.5s;
}
.card:hover{
  transform: scale(1.05);
}
.round-4{
  border-radius: 20px !important;
}
.circle{
  width: 12px;
  height: 12px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.carousel-control-prev, .carousel-control-next {
  width: 10% !important;
  color: #fdfdfd;
}
@media (max-width: 576px) {
  .flickity-prev-next-button {
    display: none;
  }
}
