canvas {
  border-radius: 15px !important;
  max-width: 100%;
  object-fit: cover; /*cover*/
  visibility: visible !important;
}
.fs-07 {
  font-size: 0.7rem;
}
.fs-08 {
  font-size: 0.8rem;
}
.fs-09 {
  font-size: 0.9rem;
}
.link-muted {
  color: #6C757D;

  &:hover {
    color: rgb(94, 102, 108);
  }
}
.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.fancy-box {
  border-radius: 56% 44% 70% 30% / 30% 65% 35% 70% ;
}
.bg-body {
  background-color: $body-color;
}
.text-body {
  color: white;
}

.text-white-smoke{
  color: whitesmoke;
}
.clip-rich-text {
  height: 1.7rem;
  width: 3.2rem;
  transform: rotate(15deg);
  top: -15px;
  right: 40px;
}
