// Specific CSS for your home-page
@import "devise_forms/general";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(84, 55, 172) !important;
  background: linear-gradient(147deg, rgba(84, 55, 172,1) 0%, rgb(47, 0, 83) 100%) !important;
}
.ff-montserrat {
  font-family: 'Montserrat', sans-serif;

}
.bg-light-purple {
  background-color: rgb(76, 54, 152);
}
.navbar {
  background-color: transparent !important;
}
.banner {
  margin-top: -100px;
}
.bg-dark-navy-blue {
  background-color: rgb(0,0,77);
}
.bg-gradient-navy-purple {
  background: rgb(0,0,77);
  background: -moz-linear-gradient(top, rgb(2, 6, 62) 0%, rgb(209, 98, 196) 100%);
  background: -webkit-linear-gradient(top, rgb(2, 6, 62) 0%,rgb(209, 98, 196) 100%);
  background: linear-gradient(to bottom, rgb(2, 6, 62) 0%,rgb(209, 98, 196) 100%);
}
.bg-purple {
  background-color: rgb(209, 98, 196);
}
.bg-cover-top {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0;
}
.text-shadow {
  text-shadow: 1px 1px rgb(240, 240, 240);
}
.bg-candy{
  background-color: #FD435A;
}
.blue-glass {
  background: rgb(0, 255, 255);
  border-radius: 16px;
  box-shadow: 2px 2px 15px rgba(192, 249, 255, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.blue-glass:hover {
  background: rgb(136, 255, 103);
  border-radius: 16px;
  box-shadow: 2px 2px 15px rgba(192, 249, 255, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.bg-candyblue {
  background: rgb(84, 55, 172);
  background: linear-gradient(147deg, rgba(84, 55, 172,1) 0%, rgb(47, 0, 83) 100%);
}
.bg-candyblue:hover {
  background-color: rgb(84, 55, 172);
  box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.8);
  transition: box-shadow 1.5s;
}
.bg-candyblue2 {
  background: rgb(84, 55, 172);
  background: linear-gradient(147deg, rgba(84, 55, 172,1) 0%, rgb(47, 0, 83) 100%);
}
.nav-tabs .nav-item .nav-link {
  background-color: transparent !important;
  color: whitesmoke;
}
.nav-tabs .nav-item .nav-link.active {
  color: whitesmoke;
}
.nav-tabs:hover .nav-item:hover .nav-link:hover {
  color: rgb(165, 255, 255);
}
.bg-yellow {
  background-color: rgb(255, 255, 185);
}
.fancy-box-t {
  border-radius: 52% 48% 44% 56% / 56% 56% 44% 44% ;
}
.form-control-light {
  background-color: whitesmoke !important;
}
