// Specific CSS for your home-page
@import "devise_forms/general";

.bg-light-purple {
  background-color: rgb(76, 54, 152);
}
.navbar {
  background-color: transparent !important;
}
.banner {
  margin-top: -100px;
}
.bg-dark-navy-blue {
  background-color: rgb(186, 220, 88);
}
