<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
    <div class="p-3">
         <%= render 'tasks/partials/list_all_tasks' %>
    </div>
  </div>
