// Hacemos al body estatico
body {
  overflow: hidden;
  height: 100vh;
}

// Solo el main tiene scroll
main {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

// Usamos flexbox sobre el wrapper
.wrapper {
  display: flex;
  height: 90%;
}

// Cambiamos la direccion del wrapper a columna para mobiles
@media (max-width: 576px) {
  .wrapper {
    flex-direction: column-reverse;
  }
}
