<footer class="py-5 bg-candyblue2 animate__animated animate__bounceInUp">
  <div class="container-fluid">
    <div class="text-center text-light">
      <p class="fw-bold fs-5">Made with <i class="bi bi-heart-fill text-primary"></i> by Katapi Team</p>
      <a class="fs-6 text-decoration-none link-light mx-1" href="https://github.com/Marianto38">María</a> •
      <a class="fs-6 text-decoration-none link-light mx-1" href="https://github.com/anarbelaez">Ana María</a> •
      <a class="fs-6 text-decoration-none link-light mx-1" href="https://github.com/Antahkarana98">Camilo</a>
    </div>
    <p class="text-center text-light mt-3">2022</p>
  </div>
</footer>
