<div class="card bg-light my-2 rounded-4 border-0 shadow-sm" style="">
  <img src="https://i.pinimg.com/564x/f2/52/fa/f252fa96c51dd1cb0ac71f85858632db.jpg" class="card-img-top rounded-bottom rounded-4 " alt="arbol">
  <div class="card-body">
    <h5 class="card-title fs-6 fw-bold"><%= goal.name %></h5>
    <h6 class="card-text text-muted fs-08 my-1"><span class="text-bg-info px-2 rounded-4"><%= goal.category %></span></h6>
    <div class="d-flex align-items-center">
      <div class="progress w-75 my-2">
        <div class="progress-bar bg-info" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p class="m-0 ms-3 text-center">25%</p>
    </div>
  </div>
</div>
