<div class="border-2 border-bottom border-end border-primary card p-2 bg-secondary my-2 rounded-4 border-0 shadow-sm notscale align-items-stretch" style="height: 170px">
  <img src="https://i.pinimg.com/564x/f2/52/fa/f252fa96c51dd1cb0ac71f85858632db.jpg" class="card-img-top rounded-4 " alt="arbol" >

  <div class="card-body text-light p-1">
    <div class="d-flex flex-column align-items-bottom">
      <h5 class="fw-bold card-title fs-08 text-center" style="height: 45px;"><%= title_stylized(goal.name) %></h5>
    </div>
  </div>
</div>
