<div id="carouselCards" class="carousel slide" data-controller="carousel-cards" data-bs-interval="false" data-ride="carousel" data-pause="hover">

  <div class="carousel-inner p-1 px-5">
    <% i = 0 %>
    <%#= Iteramos sobre listas de maximo 4 elementos %>
    <% @goals.last(12).each_slice(4) do |sublist| %>
    <%# Se crea un item del carousel con estos elementos %>
      <div class="carousel-card carousel-item" data-carousel-cards-target="item">
        <div class="row g-3">
        <%# Presentamos el objeto en forma de card %>
          <% sublist.each do |goal| %>
            <div class="col-6 col-md-3">
            <div class="" data-controller="goal-modal" data-bs-toggle="modal" data-bs-target="#modalGoal" data-bs-goal-information="<%= @goal_information.to_json %>" data-goal-modal-information-value="<%= @goal_information.to_json %>">
            </div>
              <%= render "card_goal_board", goal: goal %>
            <% i += 1 %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%# Si se muestran mas de 6 elementos entonces los controles del carousel son visibles %>
  <% unless @goals.size <= 6 %>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCards" data-bs-slide="prev">
      <span class="carousel-control-prev-icon rounded-4" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselCards" data-bs-slide="next">
      <span class="carousel-control-next-icon rounded-4" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  <% end %>
</div>
