<%# Hero section %>
<section class="bg-cover-top banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dknxl9ghi/image/upload/v1668017722/banner_home_katapi_2_e8qhny.png')">
  <div class="container col-xxl-8 py-5">
    <div class="row align-items-center g-5 py-5">
      <%# <div class="col-10 col-sm-8 col-lg-6 mx-auto">
        <img src="https://payload.cargocollective.com/1/9/290563/11353476/Business_Illustration_002_1000.png"
             class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
      </div> %>

      <div class="col-lg-12 text-center animate__animated animate__fadeInUp">
        <h1 class="display-4 fw-bold lh-1 ff-montserrat text-center text-light text-shadow mb-3">Katapi is the new to-do list app</h1>
        <p class="lead display-6 text-light my-4 fw-bold opacity-75">Don't over think it, do it</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-5">
          <%= link_to "Start now", new_user_registration_path, class:"text-decoration-none fs-5 border-0 px-3 py-2 bg-candyblue text-light fw-bold btn-lg me-md-2 rounded-pill" %>
        </div>
      </div>


    </div>
  </div>
</section>

<div class="bg-gradient-navy-purple">
<%# Features %>
<section class="pt-5" id="about">
  <div class="container py-5">
    <div class="row rounded-5 py-5 gx-5 align-items-center shadow-lg">
      <div class="col-12 col-md-6 text-end animate__animated animate__slideInLeft">
        <p class="display-6 text-light fw-bold">What Katapi does?</p>
        <p class="fs-2 text-light">Katapi visually represent the progress of your goals by showing the growth of a tree</p>
      </div>
      <div class="col-12 col-md-6 animate__animated animate__slideInRight">
        <div class="card notscale img-fluid bg-transparent border-0" style="">
          <div class="">
            <img src="https://res.cloudinary.com/dknxl9ghi/image/upload/v1668096913/katapi_tree_vu2ein.gif" class="shadow-sm fancy-box img-fluid" alt="" width="480px">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-3" id="features">
  <div class="container">
    <div class="row gx-5">
      <div class="text-center py-4">
        <p class="fw-bold text-light fs-1">In Katapi you can</p>
      </div>
      <ul class="nav nav-tabs text-center justify-content-center animate__animated animate__fadeInDown" id="myTab" role="tablist">
        <li class="nav-item fs-4 mx-4" role="presentation">
          <button class="nav-link rounded-5 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
            <i class="fa-solid fa-rocket"></i>
            <p class="fs-09">Manage your goals</p>
          </button>
        </li>
        <li class="nav-item fs-4 mx-4" role="presentation">
          <button class="nav-link rounded-5" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
            <i class="fa-solid fa-seedling"></i>
            <p class="fs-09">See your progress</p>
          </button>
        </li>
        <li class="nav-item fs-4 mx-4" role="presentation">
          <button class="nav-link rounded-5" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
            <i class="bi bi-journal-bookmark" style="-webkit-text-stroke: 1px"></i>
            <p class="fs-09">Add notes to your goals</p>
          </button>
        </li>
      </ul>
      <div class="tab-content justify-content-center" id="myTabContent">
        <div class="tab-pane fade show py-5 active animate__animated animate__fadeInUp" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-inner">
              <div class="carousel-item active px-5">
                <div class="row align-items-center">
                  <div class="col-12 col-md-6">
                    <img src="https://res.cloudinary.com/dknxl9ghi/image/upload/v1668105050/katapi_features_6_s9tspn.png" class="d-block w-100 fancy-box shadow-sm" alt="...">
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="ps-4">
                      <p class="fs-4 text-light">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus est, quis quas minus vero assumenda, nemo laborum molestias et maiores illo quod iste at? Ea rerum quibusdam corporis consequatur sapiente.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item px-5">
                <div class="row align-items-center">
                  <div class="col-12 col-md-6">
                    <img src="https://res.cloudinary.com/dknxl9ghi/image/upload/v1668105051/katapi_features_11_tckjbn.png" class="d-block w-100 fancy-box shadow-sm" alt="...">
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="ps-4">
                      <p class="fs-4 text-light">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus est, quis quas minus vero assumenda, nemo laborum molestias et maiores illo quod iste at? Ea rerum quibusdam corporis consequatur sapiente.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item px-5 ">
                <div class="row align-items-center">
                  <div class="col-12 col-md-6">
                    <img src="https://res.cloudinary.com/dknxl9ghi/image/upload/v1668105048/katapi_features_4_bdfrkp.png" class="d-block w-100 fancy-box shadow-sm" alt="...">
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="ps-4">
                      <p class="fs-4 text-light">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus est, quis quas minus vero assumenda, nemo laborum molestias et maiores illo quod iste at? Ea rerum quibusdam corporis consequatur sapiente.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev pe-5" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next ps-5" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
         </div>
        <div class="tab-pane fade py-5 animate__animated animate__fadeInUp" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <div class="row justify-content-center px-5">
            <div class="col-4 text-center">
              <div class="card mx-auto rounded-4 border-0 bg-transparent" style="width: 18rem;">
                <img src="https://res.cloudinary.com/dknxl9ghi/image/upload/v1668105052/katapi_features_12_mjdtok.png" class="border-0 fancy-box border-end border-bottom border-info border-3" alt="...">
                <div class="card-body">
                  <p class="card-text text-light fs-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-4 text-center">
              <div class="card mx-auto rounded-4 border-0 bg-transparent" style="width: 18rem;">
                <img src="https://res.cloudinary.com/dknxl9ghi/image/upload/v1668105049/katapi_features_5_k8i2fp.png" class="border-0 fancy-box border-end border-bottom border-info border-3" alt="...">
                <div class="card-body">
                  <p class="card-text text-light fs-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-4 text-center">
              <div class="card mx-auto rounded-4 border-0 bg-transparent" style="width: 18rem;">
                <img src="https://res.cloudinary.com/dknxl9ghi/image/upload/v1668109292/katapi_features_3_hspgx7.png" class="border-0 fancy-box border-end border-bottom border-info border-3" alt="...">
                <div class="card-body">
                  <p class="card-text text-light fs-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="tab-pane fade py-5 animate__animated animate__fadeInUp" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
          <div class="row px-5">
            <div class="col-12 px-5">
              <div class="d-flex justify-content-center align-items-center">
                <div class="col-7 ms-5">
                  <p class="fs-4 text-light">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis adipisci nobis nulla excepturi officia ut magnam, earum perferendis necessitatibus reprehenderit possimus ipsum quod similique! Aliquid fugit expedita voluptatum quibusdam distinctio?
                  </p>
                </div>
                <div class="col-5">
                  <img class="img-fluid fancy-box shadow-lg" src="https://res.cloudinary.com/dknxl9ghi/image/upload/v1668105050/katapi_features_1_rhwbl2.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="py-5">
  <div class="container text-center p-5">
    <div class="row px-5 gx-3">
      <div class="col-12 text-center">
        <p class="text-light fs-1 fw-bold">People don't want to procrastinate, they want to be efficient!</p>
      </div>
      <div class="col-12 col-md-6 mx-auto mt-5 animate__animated animate__flipInX">
        <%= image_tag "tree_swing_girl.svg", class: "img-fluid bg-primary fancy-box shadow-lg " %>
      </div>
    </div>
  </div>
</section>

<%# More information about Katapi %>
<section class="pt-3 pb-1">
  <div class="container text-center p-5">
    <div class="row px-5 gx-3 justify-content-center">
      <p class="fw-bold display-6 text-light">Which do you prefer?</p>

      <div class="row py-4 mt-5 justify-content-center">
        <div class="col-12 col-md-4">
          <div class="card border-0 bg-transparent" style="">
            <img src="https://res.cloudinary.com/dknxl9ghi/image/upload/v1668017721/arbol_adulto_grrhmj.png" class="card-img-top fancy-box-t shadow-lg border-5 border-end border-bottom border-primary" alt="...">
            <div class="card-body">
              <h5 class="card-title ff-montserrat text-light fs-3 ff-montserrat">A beautiful alive tree</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card border-0 bg-transparent" style="">
            <img src="https://res.cloudinary.com/dknxl9ghi/image/upload/v1668027465/dead_adult_tree_xdbpyr.png" class="card-img-top fancy-box-t shadow-lg border-5 border-end border-bottom border-primary" alt="...">
            <div class="card-body">
              <h5 class="card-title ff-montserrat text-light fs-3 ff-montserrat">A sad dead tree</h5>
            </div>
          </div>
        </div>

        <div class="pt-5">
          <p class="text-center text-light fs-5 fw-bold">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container text-center p-5">
    <div class="row px-5 gx-3 justify-content-center text-light">
      <p class="display-6 fw-bold pb-5">Ten las goals en todo momento</p>
      <div class="col-12 col-md-4 pt-5">
        <div class="card notscale rounded-5 border-end border-botttom border-3 border-primary bg-transparent" style="width: 18rem;">
          <img src="https://res.cloudinary.com/dknxl9ghi/image/upload/v1667583448/goals-board_hsiubo.png" class="card-img-top bg-primary rounded-5" alt="...">
          <div class="card-body">
            <h4 class="card-title ff-montserrat fw-bold">Visualize</h4>
            <p class="card-text">Constantly monitor the progress of your tasks</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card notscale rounded-5 border-end border-botttom border-3 border-warning bg-transparent" style="width: 18rem;">
          <img src="https://res.cloudinary.com/dknxl9ghi/image/upload/v1667583448/all-tasks_ripoli.png" class="card-img-top bg-warning rounded-5" alt="...">
          <div class="card-body">
            <h4 class="card-title ff-montserrat fw-bold">Prioritize</h4>
            <p class="card-text">Organize all your tasks in one place</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 pt-5">
        <div class="card notscale rounded-5 border-end border-botttom border-3 border-info bg-transparent" style="width: 18rem;">
          <img src="https://res.cloudinary.com/dknxl9ghi/image/upload/v1667583448/calendario_mzkxru.png" class="card-img-top bg-info rounded-5" alt="...">
          <div class="card-body">
            <h4 class="card-title ff-montserrat fw-bold"> Stay up to date </h4>
            <p class="card-text">Meet deadlines to achieve your tasks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# Call to action again %>
<section class="pb-5 animate__animated animate__headShake">
  <div class="container text-center p-5 shadow-lg rounded-5 my-3">
    <div class="d-flex justify-content-center align-items-center animate__animated animate__slideInLeft">
      <%= image_tag "welcome.svg", class:"col-3 img-fluid me-5" %>
      <div>
        <h2 class="py-4 ff-montserrat fw-bold display-5 text-white mb-">Don't miss up, be part of Katapi!</h2>
        <%= link_to "Start now", new_user_registration_path, class:"text-decoration-none fs-5 border-0 px-3 py-2 bg-candyblue text-light fw-bold btn-lg me-md-2 rounded-pill" %>
      </div>
    </div>
  </div>
</section>
</div>
