<%# Hero section %>
<section class="bg-light">
  <div class="container col-xxl-8 py-4">

    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://payload.cargocollective.com/1/9/290563/11353476/Business_Illustration_002_1000.png"
             class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>

      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>

    </div>
  </div>
</section>

<%# Features %>
<section class="">
  <div class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 g-3">
      <div class="col">
        <div class="card border-0 shadow-sm">
          <img src="https://payload.cargocollective.com/1/9/290563/11353476/Business_Illustration_002_1000.png">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card border-0 shadow-sm">
          <img src="https://payload.cargocollective.com/1/9/290563/11353476/Business_Illustration_002_1000.png">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card border-0 shadow-sm">
          <img src="https://payload.cargocollective.com/1/9/290563/11353476/Business_Illustration_002_1000.png">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# More information about Katapi %>
<section class="">
  <div class="container px-4 py-5">
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="d-flex flex-column align-items-start gap-2">
        <h3 class="fw-bold">Left-aligned title explaining these awesome features</h3>
        <p class="text-muted">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="d-flex flex-column gap-2">
          <div class="">
            <i class="bi bi-1-square align-items-center justify-content-center fs-4 rounded-3"></i>
          </div>
          <h4 class="fw-semibold mb-0">Featured title</h4>
          <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="d-flex flex-column gap-2">
          <div class="">
            <i class="bi bi-2-square align-items-center justify-content-center fs-4 rounded-3"></i>
          </div>
          <h4 class="fw-semibold mb-0">Featured title</h4>
          <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="d-flex flex-column gap-2">
          <div class="">
            <i class="bi bi-3-square align-items-center justify-content-center fs-4 rounded-3"></i>
          </div>
          <h4 class="fw-semibold mb-0">Featured title</h4>
          <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="d-flex flex-column gap-2">
          <div class="">
            <i class="bi bi-4-square align-items-center justify-content-center fs-4 rounded-3"></i>
          </div>
          <h4 class="fw-semibold mb-0">Featured title</h4>
          <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<%# About us %>
<%# <section class="py-4 bg-light">
  <div class="container text-center p-5">
    <h2>I do not know what to put here</h2>
  </div>
</section> %>

<%# Call to action again %>
<section class="py-3 bg-info">
  <div class="container text-center p-5">
    <h2 class="my-4">Be part of Katapi!</h2>
    <a href="#" class="btn btn-primary btn-lg">Primary button</a>
  </div>
</section>
