 <p>
    <button class="btn btn-outline-dark rounded-4 d-flex justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Add New Task
    </button>
</p>

<div class="collapse" id="collapseExample">
      <div class="rounded-4">
          <%= render 'shared/tasks/form_create_only_task' %>
      </div>
  </div>
