<!-- Button trigger modal -->
<button type="button" class="btn btn-transparent border-0 rounded-circle" data-bs-toggle="modal" data-bs-target="#newTask">
  <i class="fa-solid fa-circle-plus fs-1"></i>
</button>
 <%= render 'tasks/partials/modal_new_task' %>
<!-- End Button trigger modal -->
