<div class="row d-flex justify-content-end rounded-4 p-2">
  <%= month_calendar events: @tasks do |date, tasks| %>
    <% tasks.each do |task| %>
    <button class="btn btn-sm btn-success rounded-circle bg-success text-center" style="width:30px" type="button"
        id="dateTask" data-bs-toggle="dropdown" aria-expanded="false">
        <%= date.day %>
      </button>
      <div class="dropdown">
        <ul class="dropdown-menu shadow-lg bg-gradient fs-08  rounded-4 bg-body" aria-labelledby="dateTask">
          <% tasks.each do |task| %>
            <li>
             <%= link_to "• #{title_stylized(task.name)}" , task, class:"btn btn-white text-primary" %>
            </li>
          <% end %>
        </ul>
        <div class="dropdown d-none">
    <% end %>
    <div class="d-flex justify-content-center dash-calendar">
      <%= date.day %>
    </div>
  <% end %>
    </div>
  </div>
</div>
