<div class="card rounded-4 border-0 p-2 bg-white mx-auto" style="width: 18rem; height: 70px;">
  <div>
    <h5 class="card-title"><%= task.name.capitalize %></h5>
    <a href="#" class="stretched-link"></a>
    <h6 class="card-subtitle mt-2 text-muted"><i class="fa-regular fa-calendar"></i>  <%= task.due_date %></h6>
  </div>
</div>
