<div class="card rounded-4 border-0 px-2 my-1 mx-auto" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= task.name %></h5>
    <h6 class="card-subtitle mt-2 text-muted"><i class="fa-regular fa-calendar"></i>  <%= task.due_date %></h6>
  </div>
</div>
