<%= link_to task_path(task), class: "text-decoration-none link-light" do %>
  <div class="border-3 border-start border-danger px-2 mb-3">
    <p class="mb-1 p-0 fs-09 text-muted fst-italic"><%= task.goal.category.capitalize %></p>
    <p class="m-0 p-0"><%= task.name %></p>
  </div>
<% end %>
