<!-- Modal -->
<div class="modal fade" id="newTask" tabindex="-1" aria-labelledby="newTaskLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <!-- Init Task form -->

        <%= simple_form_for [@goal, @task] do |f| %>

          <div class="row m-2 p-2 rounded-5 mb-3 bg-success text-dark bg-opacity-10">
            <div class="col-1 my-auto mx-auto d-flex align-items-center">
              <i class="fa-solid fa-list-check fs-1 mx-sm-1 mx-lg-2"></i>
            </div>
            <div class="col-10 pb-2">
              <h3>Create a new Task</h3>
                <div>
                  <%= f.input :name, input_html: {class:"border-0 rounded-4 p-3"}, label:false, placeholder:"Enter task tittle..." %>
                  <%= f.input :due_date, html5:true, input_html: {class:"border-0 rounded-4"}, label: false, placeholder:false %>
                </div>
            </div>
<!-- End Task form -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= f.submit class:"btn btn-dark rounded-4"%>
      </div>
    </div>
  </div>

<% end %>
