  .simple-calendar .day {
    height: 15px;
    border: 2px solid secondary;
    background-color: $deep-koamaru;
    color: $white-smoke;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: none;
    color: none;
    color: $white-smoke;

}
.calendar-heading {
  display: flex;
  justify-content:space-between;
    a {
    text-decoration: none;
    color: $middle-blue;
    font-weight: bold;
    // border: 0px solid white;
    // border-radius: 5px;
    // padding: 2px;
    // background-color: rgb(209, 200, 200);

  }
}

.simple-calendar table {
  border: none;
}

.simple-calendar .day {
  border: none;
}

.simple-calendar th {
border: none;
border-bottom: 1px solid grey;
color: $white-smoke;
padding-top: 5px;

}

.calendar-title a {
  color: $white-smoke;
  text-decoration: none;
  color: $white-smoke;
}

.index-calendar {
  .simple-calendar table {
    border:2px solid white-smoke;
    min-height: 70vh;
  }

  .simple_calendar {
    border-radius: 12px;
  }
  .simple-calendar .day {
    border: 1px solid whitesmoke;
    border-radius: 10px;

  }

  .simple-calendar th {
  border: none;
  // border-bottom: 1px solid grey;
  color: $white-smoke;
  text-align: center;
  }
  .justify-content-center {
    background-color: $deep-cove;
    border-radius: 50%;
    padding: 4px;
  }

  .calendar-heading {
    padding-top: 10px;
    padding-bottom: 16px;
  }

}


.dash-calendar {
  background-color: $deep-cove;
  border-radius: 50px;
  width: 30px;
  max-width: auto;
  display: flex;
  justify-content: center;

  padding: 4px;
  :hover {
    background-color: white-smoke;
  }
}

.simple-calendar {
  .day {
    size: 500px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}


.task-btn {
  .btn-success {
    --bs-btn-hover-bg: #686de0;
    --bs-btn-hover-color: whitesmoke;
    border: none;
}
}
