  .simple-calendar .day {
    height: 15px;
    border: 2px solid secondary;
    background-color: aliceblue;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: none;
    color: none;
}
.calendar-heading {
  display: flex;
  justify-content:space-between;
    a {
    text-decoration: none;
    border: 0px solid white;
    border-radius: 5px;
    padding: 2px;
    background-color: white;

  }
}

.calendar-title a {
  color: aliceblue;
  text-decoration: none;
}



.simple-calendar {
  .day {
    size: 500px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}
