.sidebar-list {
  list-style: none;
}

.sidebar-list span {
  font-size: 1vw;
}

.sidebar-list li {
  border-radius: 8px;

  &:hover {
    background-color: $secondary;
    transition: 1s;
  }

}

.sidebar {
  flex: 1 0 13.5%;
}

@media (max-width: 768px) {
  .sidebar {
    flex-basis: 40px;
  }

  .sidebar-list {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .sidebar-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .sidebar {
    padding-top: 4px;
  }
}
