<a href="#" class="nav-link me-1 my-auto text-dark" data-bs-toggle="dropdown">
  <i class="bi bi-bell fs-4"></i>
</a>

<ul class="dropdown-menu dropdown-menu-end position-absolute mt-1 me-3 border-0 rounded-4 shadow-sm p-3" style="max-width: 20rem;">
  <li><h6 class="dropdown-header px-0">Notifications</h6></li>
  <p class="m-0">TODO: Notification card</p>
</ul>
