<%#
<div class="row">
  <div class="col-8 bg1">
    <h1>Your Goals</h1>

    <div class="row my-2">
      <div class="col-sm-12 col-xl-4 my-1">
        <div class=" border rounded-4 bg1">
            <div class="row g-0 justify-content-between">
                <div class="col-6 d-flex align-items-center">
                    <div class="card-body text-center">
                        <h5 class="card-title text-light">To-Do</h5>
                        <p class="card-text text-light">Number of tasks</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="containerpb">
                        <div class="card rounded-4 border-0">
                            <div class="percent" style="--clr:#00aeff;--num:85">
                                <div class="dot">

                                </div>
                                <svg class="col-12">
                                    <circle cx="58" cy="58" r="58"></circle>
                                    <circle cx="58" cy="58" r="58"></circle>
                                </svg>
                                <div class="number">
                                    <h2>85<span>%</span></h2>
                                    <p>HTML</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-12 col-xl-4 my-1">
        <div class=" border rounded-4 bg1">
            <div class="row g-0 justify-content-between">
                <div class="col-6 d-flex align-items-center">
                    <div class="card-body text-center">
                        <h5 class="card-title text-light">To-Do</h5>
                        <p class="card-text text-light">Number of tasks</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="containerpb">
                        <div class="card rounded-4 border-0">
                            <div class="percent" style="--clr:#ffd900;--num:65">
                                <div class="dot">

                                </div>
                                <svg>
                                    <circle cx="58" cy="58" r="58"></circle>
                                    <circle cx="58" cy="58" r="58"></circle>
                                </svg>
                                <div class="number">
                                    <h2>65<span>%</span></h2>
                                    <p>HTML</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-12 col-xl-4 my-1">
        <div class=" border rounded-4 bg1">
            <div class="row g-0 justify-content-between">
                <div class="col-6 d-flex align-items-center">
                    <div class="card-body text-center">
                        <h5 class="card-title text-light">To-Do</h5>
                        <p class="card-text text-light">Number of tasks</p>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="containerpb">
                        <div class="card rounded-4 border-0">
                            <div class="percent" style="--clr:#04fc43;--num:50">
                                <div class="dot">

                                </div>
                                <svg>
                                    <circle cx="58" cy="58" r="58"></circle>
                                    <circle cx="58" cy="58" r="58"></circle>
                                </svg>
                                <div class="number">
                                    <h2>50<span>%</span></h2>
                                    <p>HTML</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>


     <%#= render 'goals/partials/button_modal_new_goal' %>


    <%= link_to "New Goal", new_goal_path %>

    <% @goals.each do |goal| %>
      <%= render 'goals/partials/card_goal', goal: goal %>
    <% end %>
  </div>

<%= link_to "New Goal", new_goal_path if policy(Goal).new? %>


  <div class="col-4">
          <h2>Tareas proximas</h2>
  </div>
</div> %>


<div class="row g-4">
  <div class="col-md-7 order-1 order-md-0">
    <h5 class="pb-2 mb-3 border-bottom">Goals summary TODO</h5>

    <div class="row g-3">
      <div class="col-7 col-sm-3">
        <div class="bg-warning">Lorem ipsum dolor sit amet consectetur.</div>
      </div>

      <div class="col-5 col-sm-6">
        <div class="row g-3">
          <div class="col-12 col-sm-6">
            <div class="bg-warning">Lorem ipsum dolor sit amet consectetur.</div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="bg-warning">Lorem ipsum dolor sit amet consectetur.</div>
          </div>
        </div>
      </div>
    </div>

    <%# Aqui el buscador %>
    <div class="row mt-5">
      <div class="col-12">
        <h5>Search Bar TODO</h5>
      </div>
    </div>

    <%# Aqui se renderizan las goals %>
    <h5 class="pb-2 mt-5 mb-3 border-bottom">My goals TODO</h5>

    <div class="row g-3">
      <div class="col-6 col-sm-4">
        <div class="bg-warning">Lorem ipsum dolor sit amet consectetur.</div>
      </div>
      <div class="col-6 col-sm-4">
        <div class="bg-warning">Lorem ipsum dolor sit amet consectetur.</div>
      </div>
      <div class="col-6 col-sm-4">
        <div class="bg-warning">Lorem ipsum dolor sit amet consectetur.</div>
      </div>
    </div>
  </div>

  <div class="col-md-5 order-0 order-md-1">
    <div class="position-sticky" style="top: 1rem;">
      <div class="p-2 mb-3 bg-secondary rounded">
        <h5 class="">Calendar</h5>
        TODO
      </div>

      <div class="p-2 mb-3 bg-secondary rounded">
        <h5 class="">Month and calendar</h5>
        <div class="rounded-4">
          <h2>Tareas proximas</h2>
        </div>
      </div>
    </div>
  </div>
</div>
