<h1>Goals</h1>





<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newGoal">
  Create a Goal
</button>
 <%= render 'goals/modal_new_goal' %>
<!-- End Button trigger modal -->
