<div class="row justify-content-center">
  <div class="mt-3 pb-1 pb-3 mb-4 border-bottom col-10">
        <h3 class="m-0 p-0">Your Goals</h3>
  </div>
</div>

<div class="row g-4 ">
  <div class="col-md-12 order-1 order-md-0">

    <div class="col-10 mx-auto">
      <div class="col-12">
        <%= render 'goals/partials/form_search' %>
      </div>
    </div>

    <div class="row justify-content-center" data-controller="refresh-goals-list">

      <div class="col-10">
        <div class="row" data-masonry='{"percentPosition": true }' data-refresh-list-target="list">
          <%= render "goals", goals: @goals %>
        </div>

        <div class="col-12 d-flex justify-content-center my-3">
          <%= render 'goals/partials/bootstrap_nav', pagy: @pagy %>
        </div>
      </div>
    </div>
  </div>

</div>
