<h1>Goals</h1>

<div class="row bg-warnign">
  <div class="col">
    <%= render 'goals/partials/button_modal_new_goal' %>
  </div>
</div>

<%= link_to "New Goal", new_goal_path if policy(Goal).new? %>

<% @goals.each do |goal| %>
  <%= render 'goals/partials/card_goal', goal: goal %>
<% end %>
