<h1>Goals</h1>

<%= render 'goals/partials/button_modal_new_goal' %>
<%= link_to "New Goal", new_goal_path %>

<% @goals.each do |goal| %>
  <%= render 'goals/partials/card_goal', goal: goal %>
<% end %>
