.bg {
  background: rgb(215,255,231);
  background: linear-gradient(315deg, rgba(215,255,231,1) 0%, rgba(10,110,127,1) 88%);  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}
/* .content{
  position: absolute;
  margin-top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
} */
